.profile {
  margin-top: 74px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__form {
  margin-top: 123px;
  min-width: 410px;
}

.profile__title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.profile__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.profile__wrapper:last-of-type {
  margin-top: 17px;
}

.profile__label {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
}

.profile__input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #E8E8E8;
  color: #000;
  background-color: transparent;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: right;
}

.profile__input_type_email {
  border: 0;
}

.profile__button-wrapper {
  margin-top: 204px;
  width: 410px;
  display: flex;
  flex-direction: column;
}

.profile__button {
  padding: 0;
  border: 0;
  height: 16px;
  cursor: pointer;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.profile__button:first-of-type {
  margin-bottom: 16px;
}

.profile__button:last-of-type {
  color: #EE3465;
}

.profile__button:hover {
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .profile {
    margin-top: 236px;
  }

  .profile__form {
    margin-top: 96px;
  }

  .profile__button-wrapper {
    margin-top: 195px;
  }

}
