.search-form {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-left: 70px;
  margin-right: 70px;
}

.search-form__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form__input-container {
  position: relative;
  width: 100%;
}

.search-form__input-container_type_checkbox {
  margin-top: 30px;
  margin-bottom: 49px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.search-form__input {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #E8E8E8;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  padding: 0;
  padding-bottom: 15px;
}

.search-form__input:focus::placeholder {
  visibility: hidden;
}

.search-form__input::placeholder {
  color: #A0A0A0;
}

.search-form__icon {
  position: absolute;
  top: 0;
  left: 5px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/search-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
}

.search-form__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  border: 0;
  padding: 0;
  background-color: #FF6838;
  border-radius: 50%;
  background-image: url(../../../images/search-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.search-form__checkbox {
  appearance: none;
  border: none;
  outline: none;
}

.search-form__checkbox::before {
  content: '';
  cursor: pointer;
  background-image: url(../../../images/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 36px;
  height: 20px;
  background-color: #EBEBEB;
  border-radius: 10px;
}

.search-form__checkbox::before:checked {
  background-image: url(../../../images/checkbox-checked.svg);
}

.search-form__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
