.search-form {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-left: 70px;
  margin-right: 70px;
}

.search-form__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form__input-container {
  position: relative;
  width: 100%;
}

.search-form__input-container_type_checkbox {
  margin-top: 30px;
  margin-bottom: 49px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.search-form__input {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #E8E8E8;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  padding: 0;
  padding-bottom: 15px;
}

.search-form__input:focus::placeholder {
  visibility: hidden;
}

.search-form__input::placeholder {
  color: #A0A0A0;
}

.search-form__icon {
  position: absolute;
  top: 0;
  left: 5px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/search-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
}

.search-form__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  border: 0;
  padding: 0;
  background-color: #FF6838;
  border-radius: 50%;
  background-image: url(../../../images/search-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .search-form {
    margin-top: 86px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .search-form__input-container_type_checkbox {
    margin-bottom: 62px;
  }

}

@media screen and (max-width: 767px) {
  .search-form {
    margin-top: 100px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .search-form__input-container_type_checkbox {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .search-form__icon {
    display: none;
  }

  .search-form__input {
    text-align: left;
    font-size: 18px;
    line-height: 22px;
  }

  .search-form__button {
    top: -8px;
  }
}
