.movies-card-list {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 70px;
  margin-bottom: 92px;
}

.movies-card-list__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 30px;
  justify-items: center;
}

.movies-card-list__more {
  width: 100%;
  display: flex;
  justify-content: center;
}

.movies-card-list__more-button {
  width: 100%;
  cursor: pointer;
  padding: 0;
  height: 36px;
  border: 0;
  border-radius: 6px;
  background-color: #F9F9F9;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.movies-card-list__more-button:hover {
  opacity: .8;
}
